// When color definition differs for dark and light variant,
// it gets @if ed depending on $mode

$base_color: $color_bg1;
$text_color: $color_fg1;
$bg_color: $color_bg0;
$fg_color: $color_fg0;

$selected_fg_color: $color_fg0;
$selected_bg_color: $color_accent_neutral;
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: if($mode != 'dark', darken($bg_color,9%), darken($bg_color,6%));

$link_color: if($mode != 'dark', darken($selected_bg_color,10%),
                                     lighten($selected_bg_color,20%));
$link_visited_color: if($mode != 'dark', darken($selected_bg_color,20%),
                                     lighten($selected_bg_color,10%));

$selection_mode_bg: $selected_bg_color;
$selection_mode_fg: $selected_fg_color;
$warning_color: $GB_BRIGHT_ORANGE;
$error_color: $GB_BRIGHT_RED;
$warning_fg_color: $color_fg0;
$error_fg_color: $color_fg0;
$success_color: $GB_BRIGHT_GREEN;
$destructive_color: $GB_NEUTRAL_PURPLE;
$suggested_color: $GB_BRIGHT_BLUE;
$destructive_fg_color: $color_fg0;
$suggested_fg_color: $color_fg0;

$drop_target_color: $GB_NEUTRAL_ORANGE;

//insensitive state derived colors
$insensitive_fg_color: if($mode != 'dark', transparentize($fg_color, 0.45), transparentize($fg_color, 0.55));
$insensitive_bg_color: if($mode != 'dark', mix($bg_color, $base_color, 40%), lighten($bg_color, 2%));

$header_bg: $color_bg1;

$header_bg_backdrop: $header_bg;

$header_border: darken($header_bg, 7%);

$header_fg: $color_fg0;

$sidebar_bg: $color_bg1;
$sidebar_fg: $color_fg1;

$sidebar_border: darken($sidebar_bg, 8%);

$panel_bg: darken($sidebar_bg, 4.7%);
$panel_fg: $sidebar_fg;

$entry_bg: $base_color;
$entry_border: $borders_color;

$header_entry_bg: lighten($header_bg, 22%);
$header_entry_border: darken($header_bg, 12%);

$button_bg: $bg_color;
$button_border: $entry_border;

$header_button_bg: lighten($header_bg, 22%);
$header_button_border: darken($header_bg, 12%);

$osd_fg_color: $sidebar_fg;
$osd_bg_color: $sidebar_bg;

$osd_button_bg: lighten($osd_bg_color, 22%);
$osd_button_border: darken($osd_bg_color, 12%);

$osd_entry_bg: lighten($osd_bg_color, 22%);
$osd_entry_border: darken($osd_bg_color, 12%);

$osd_insensitive_bg_color: if($mode != 'light', darken($osd_bg_color, 3%), $insensitive_bg_color);
$osd_insensitive_fg_color: if($mode != 'light', mix($osd_fg_color, opacify($osd_bg_color, 1), 30%), $insensitive_fg_color);
$osd_borders_color: if($mode != 'light', transparentize(black, 0.3), transparentize(black, 0.83));

//WM Buttons

// Close
$wm_button_close_bg: $GB_NEUTRAL_RED;
$wm_button_close_hover_bg: if($mode == 'dark', $GB_FADED_RED, $GB_BRIGHT_RED);
$wm_button_close_active_bg: if($mode == 'dark', $GB_BRIGHT_RED, $GB_FADED_RED);

$wm_icon_close_bg: $color_bg2;

// Minimize, Maximize
$wm_button_hover_bg: $color_bg1;
$wm_button_active_bg: $selected_bg_color;

$wm_button_hover_border: $color_bg2;

$wm_icon_bg: $color_gray;
$wm_icon_unfocused_bg: $color_bg3;
$wm_icon_hover_bg: $color_fg3;
$wm_icon_active_bg: $selected_fg_color;
